<app-navbar></app-navbar>
<div class="card mx-auto">
    <span class="head text-center">{{formOptions.formname}}</span>
    <div class="container-fluid ">
     
        <app-dnamic-form [formOptions]="formOptions" (emitFormData)="getData($event)"></app-dnamic-form>
            <div class="row mt-4">
                <div class="col-sm-12 ">
                    <button type="button" (click)="onSignup()" class="btn btn-sm btn-info">Sign Up</button>&nbsp;&nbsp;
                 <small>  Have an Account? <a routerLink="/login">Click here</a></small>
                </div>
                <div class="col-sm-6 ">
                </div>
            </div>
            <br>

    </div>
</div>