<div style="margin:0 50px;">
    <div>
        <button class="btn btn-warning btn-sm mt-5" routerLink="/admin/add">
            <i class="fa fa-plus"></i>
            Add Employee</button>
    </div>
    <div class="mt-3">
        <ng-container *ngIf="RowData && RowData.length>0">
            <dy-table 
            [RowData]="RowData" 
            [HideColumn]="hideColumn"
            [ActionClumn]="true"
            (clickEdit)="onEdit($event)"
            (clickView)="onView($event)"
            (clickDelete)="onDelete($event.id)"
            >
            </dy-table>
        </ng-container>
    </div>
</div>